cpmgithubapi/src/main/mule/cpm-github-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd">
    <http:listener-config name="cpm-github-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="cpm-github-api-config" api="cpm-github-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <http:request-config name="GithubApi" doc:name="HTTP Request configuration" doc:id="09992ecb-c1fe-417c-ae5c-bc0c6515d08e">
		<http:request-connection host="api.github.com" protocol="HTTPS">
			<http:authentication >
				<http:basic-authentication username="davidlarrimore@gmail.com" password='envVar("GITHUBPAT")' />
			</http:authentication>
		</http:request-connection>
	</http:request-config>
	<http:request-config name="GithubRaw" doc:name="HTTP Request configuration" doc:id="25ec78a6-e046-4867-9c09-a70e66c81409" >
		<http:request-connection protocol="HTTPS" host="raw.githubusercontent.com" >
			<http:authentication >
				<http:basic-authentication username="davidlarrimore@gmail.com" password='envVar("GITHUBPAT")' />
			</http:authentication>
		</http:request-connection>
	</http:request-config>
	<flow name="cpm-github-api-main">
        <http:listener config-ref="cpm-github-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="cpm-github-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="cpm-github-api-console">
        <http:listener config-ref="cpm-github-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="cpm-github-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
	<flow name="get:\github\(owner)\(repo):cpm-github-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="owner">attributes.uriParams.'owner'</ee:set-variable>
                <ee:set-variable variableName="repo">attributes.uriParams.'repo'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<scatter-gather doc:name="Scatter-Gather" doc:id="b34a9f91-55b6-4d73-8028-c674ed34242a" >
			<route >
				<http:request method="GET" doc:name="Github SFDX Project" doc:id="f3daea67-a867-43f5-a4fd-d1478de088bc" config-ref="GithubRaw" path="/{owner}/{repo}/master/sfdx-project.json" target="sfdxpayloadstring">
			<http:uri-params><![CDATA[#[output application/java
---
{
	owner : attributes.uriParams.'owner',
	repo : attributes.uriParams.'repo'
}]]]></http:uri-params>
		</http:request>
			</route>
			<route >
				<http:request method="GET" doc:name="Github API Repo" doc:id="49531f8d-3d08-48a9-919c-1c069cf83f81" config-ref="GithubApi" path="/repos/{owner}/{repo}" target="repopayload">
			<http:uri-params><![CDATA[#[output application/java
---
{
	owner : attributes.uriParams.'owner',
	repo : attributes.uriParams.'repo'
}]]]></http:uri-params>
		</http:request>
			</route>
			<route >
				<http:request method="GET" doc:name="Github API Tags" doc:id="40d5a95c-e500-4e05-8a2b-ab4575a0f8ac" config-ref="GithubApi" path="/repos/{owner}/{repo}/tags" target="tagspayload">
					<http:uri-params><![CDATA[#[output application/java
---
{
	owner : attributes.uriParams.'owner',
	repo : attributes.uriParams.'repo'
}]]]></http:uri-params>
				</http:request>
			</route>
			<route >
				<http:request method="GET" doc:name="Github API Commits" doc:id="500b8296-0e67-4ab8-a94c-b795d8c239b8" config-ref="GithubApi" path="/repos/{owner}/{repo}/commits/master" target="commitspayload">
					<http:uri-params><![CDATA[#[output application/java
---
{
	owner : attributes.uriParams.'owner',
	repo : attributes.uriParams.'repo'
}]]]></http:uri-params>
				</http:request>
			</route>
			<route >
				<http:request method="GET" doc:name="Github API Releases" doc:id="89a49d73-cd17-4d2f-8c13-bdf62a3be65f" config-ref="GithubApi" path="/repos/{owner}/{repo}/releases/latest" target="releasespayload">
					<http:uri-params><![CDATA[#[output application/java
---
{
	owner : attributes.uriParams.'owner',
	repo : attributes.uriParams.'repo'
}]]]></http:uri-params>
				</http:request>
			</route>
			<route >
				<http:request method="GET" doc:name="Github API Users" doc:id="99e73a8f-3b5e-4522-b8fa-9e32a0860762" config-ref="GithubApi" path="/users/{owner}" target="ownerpayload">
					<http:uri-params><![CDATA[#[output application/java
---
{
	owner : attributes.uriParams.'owner',
	repo : attributes.uriParams.'repo'
}]]]></http:uri-params>
				</http:request>
			</route>
		</scatter-gather>
		<ee:transform doc:name="Transform Message" doc:id="3002ed6a-6583-473f-a5b5-867fce2870b8" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"SFDXProject":read(vars.sfdxpayloadstring,"application/json"), 
	"repo":vars.repopayload,
    "tags":vars.tagspayload,
    "latestCommit":vars.commitspayload,
    "latestRelease":vars.releasespayload,
    "owner":vars.ownerpayload  
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
</mule>
